<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header_item-list">
                <li class="main-header__item"><a href="/home_page">Shop</a></li>
                <li class="main-header__item"><a href="/add-product">Add Product</a></li>
                <li class="main-header__item"><a href="/contact_us">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class="product-form" action="/succes" method="post">
          <div class="form-control">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="enter name">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="enter email">
            <button type="submit">Submit</button>
        </div>
        </form>
    </main>
</body>
</html>